/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

h1 {
    margin-bottom: 50px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
  color: #C00;
}
.btn-invalid {
    border-color: #C00;
    border-width: 1px;
}

.text-upperCase {
    text-transform: uppercase;
}

.bonita-modal {
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

/* Custom CSS */

.left-32 {
    left: 32px;    
}

.mt-20 {
    margin-top: 20px;
}

.filters-container {
    padding-top: 20px;
    padding-bottom: 10px;
}

.filter-widget {
    padding-left: 10px;
    padding-right: 0;
}

.profile-item {
    border-bottom: 1px solid lightgray;
    overflow: hidden;
    transition: 0.3s;
    padding-top: 0.5rem;
}

.profile-item p  {
    margin-bottom: 0;
}

.profile-item:hover {
    box-shadow: 0 0 5px;
    margin-top: 0px;
}

.item-label p,
.item-label.component,
.input-with-light-label label {
    font-size: 11px;
    opacity: 0.7;
    margin: 0;
    padding-right: 0;
    word-wrap: break-word;
    word-break: break-word;
}

.item-value,
.item-value a,
.item-value p {
    font-size: 12px;
    margin: 0 0 3px 0;
    padding-right: 0;
    word-wrap: break-word;
    word-break: break-word;
}

.pt-5.component {
    padding-top: 5px;
}

.pl-10 > .row {
    padding-left: 10px;
}

.pr-10 > .row {
    padding-right: 10px;
}

.is-provided-icon-container {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
}

.is-provided-icon{
    width: 1em;
}

.line-seperator hr {
    margin-top: 3px;
    margin-bottom: 3px;
}

.btn-edit {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.btn-edit button.btn-default {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 12px;
    border: none;
    outline-style: none;
    box-shadow: none;
    background: transparent;
}

.btn-edit button.btn-default:hover,
.btn-edit button.btn-default:active,
.btn-edit button.btn-default:focus {
    outline-style: none;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
}

.badge {
    white-space: pre-wrap;
    text-align: left;
    word-break: break-word;
}

.add-mapping .dropdown-menu {
    position: absolute;
    top: 35px;
    display: block;
    width: 350px;
    float: left;
    margin-left: 15px;
    text-align: left;
    z-index: 1000;
}

.add-mapping .dropdown-menu button:hover,
.add-mapping .dropdown-menu-right button:hover {
    background: #2c3e50;
    color: #fff;
    width: 100%;
    text-decoration: none;
    text-align: left;
}

.mapping-label {
    font-size: 11px;
    opacity: 0.7;
    word-wrap: break-word;
    word-break: break-word;
    border: none;
}

.glyphicon-pencil:hover,
.glyphicon-pencil:focus {
    text-decoration: none;
}